<main class="container">
    <h1 class="row text-center"> <span class="col">Find Stray Animal Near You </span></h1>
    <hr>
    <div class="row" id="searchBar">
        <div class="col-3"></div>
        <form class="d-flex col-12 col-lg-6" role="search" id="mapSearch">
            <input class="form-control me-2" id="address" type="search" placeholder="Search Location"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="col-3"></div>
    </div>
    <hr>
    <div class="row" id="infoArea" style="margin-left: 5%;">
        <div id="map-main" class="col-lg-8" style="border: 1px solid rgb(200, 200, 200);height:500px"></div>
        <script>
            const infoArray = new Array();
        </script>
        <div class="col-lg-4 container"
            style="border: 1px solid rgb(200, 200, 200);border-radius:5px;height:500px;overflow:scroll;">
            {{#if postData}}
            {{#each postData}}

            <div class="card row mt-3" style="height:250px;" id={{_id}}>
                <div class="row g-0">
                    <div class="col-4">
                        <img src={{animal_photo}} class="rounded-start"
                            style="height: 250px; width:100%;object-fit: cover;" alt="photo">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title" style="height: 25px;overflow: hidden;">{{animal_name}}</h5>
                            <p class="card-text" style="height: 100px;overflow: hidden;">{{description}}.</p>
                            <p class="card-text"><small class="text-muted">Last updated: {{find_time}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var id = "{{_id}}";
                var species = "{{species}}";
                document.getElementById(id).classList.add('display-' + species);
                var address = '/animal/detail/' + id;
                var card = document.getElementById(id).querySelector('.card-body');
                var newlink = document.createElement('a');
                newlink.href = address;
                newlink.className = "list-link";
                newlink.textContent = 'Get Detail';
                card.appendChild(newlink);
                infoArray.push({
                    id: id,
                    name: "{{animal_name}}",
                    date: "{{find_time}}",
                    health: "{{health_condition}}",
                    species: species,
                    description: "{{description}}",
                    address: "{{this.locationinfo.city}}" + ", " + "{{this.locationinfo.state}}",
                    lat: Number("{{this.locationinfo.addressInfo.latitude}}"),
                    lng: Number("{{this.locationinfo.addressInfo.longitude}}"),
                });
            </script>
            {{/each}}
            {{/if}}

        </div>
    </div>
    <hr>
    <div class="row container text-center">
        <h5>Fun Fact</h5>
        <p id="catFact"></p>
    </div>
    <script src="../public/js/getRandomFact.js"></script>
    <script>
        
    </script>
    <script src="../public/js/map/mapSearch.js"></script>
    <script src="../public/js/map/display.js"></script>

</main>