<main class="container text-center">
    <hr>
    <div class="row mb-3">
        <h1>HELLO! {{first_name}} {{last_name}}</h1>
    </div>
    <div class="row mb-3">
        <a href="/animal/new" class="col">Upload New Stray Animal</a>
        <a href="/volunteer/new" class="col">Upload New Volunteer Info</a>
        <a href="/user/edit/{{user_id}}" class="col">Account Setting</a>
    </div>
    <hr>

    <h1>My Animal Posts</h1>
    <div class="userCenterInfo container-fluid" style="overflow-y: scroll;">
        <div class="row flex-row flex-nowrap mt-3">
            {{#if animal_posts}}
            {{#each animal_posts}}
            <div class="card col-3" style="width: 280px; margin-left: 20px" id={{_id}}>
                <img src={{animal_photo}} class="card-img-top cardImage" alt="Picture">
                <div class="card-body row text-center">
                    <h2 class="card-title row"> <span class="col">
                            {{animal_name}} </span>
                    </h2>
                    <hr>
                    <a class="col" href="/animal/detail/{{_id}}">Detail</a>
                    <a class="col" href="/animal/edit/{{_id}}">Edit</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Find Time: {{find_time}}</li>
                    <li class="list-group-item">Species: {{species}}</li>
                    <li class="list-group-item">Health Condition: {{health_condition}}</li>
                    {{!-- <li class="list-group-item">Location: {{location_id}}</li> --}}
                </ul>
                <form action="/animal/detail/{{_id}}?_method=DELETE" method="POST" class="row mt-3">
                    <button type="submit" class="btn btn-danger animalPostDelete" style="none"
                        id={{_id}}>Delete</button>
                </form>
            </div>
            {{!--
            <script>
                var id = "{{_id}}";
                var address = '/animal/detail/' + id;
                var card = document.getElementById(id).querySelector('div');
                var newlink = document.createElement('a');
                newlink.href = address;
                newlink.className = "list-link";
                newlink.classList.add("col");
                newlink.textContent = 'Get Detail';
                card.appendChild(newlink);
                var editAddress = "/animal/edit/" + id;
                var editLink = document.createElement("a");
                editLink.href = editAddress;
                editLink.className = "editLink";
                editLink.classList.add("col");
                editLink.textContent = "Edit";
                card.appendChild(editLink);
            </script> --}}
            {{/each}}
            {{else}}
            <p>No Value</p>
            {{/if}}
        </div>
    </div>
    <h2>My followed animal posts</h2>
    <div class="userCenterInfo container-fluid" style="overflow-y: scroll;">

        <div class="row flex-row flex-nowrap mt-3">
            {{#if follow_animal_posts}}
            {{#each follow_animal_posts}}
            <div class="card col-3" style="width: 280px; margin-left: 20px" id={{_id}}>
                <img src={{animal_photo}} class="card-img-top cardImage" alt="Picture">
                <div class="card-body row text-center">
                    <h2 class="card-title row"> <span class="col" style="overflow: hidden;"> {{animal_name}} </span>
                    </h2>
                    <hr>
                    <a class="col" href="/animal/detail/{{_id}}">Detail</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Find Time: {{find_time}}</li>
                    <li class="list-group-item">Species: {{species}}</li>
                    <li class="list-group-item">Health Condition: {{health_condition}}</li>
                    {{!-- <li class="list-group-item">Location: {{location_id}}</li> --}}
                </ul>
                {{!--<form action="" method="" class="row mt-3">
                    <button type="submit" class="btn btn-danger animalPostDelete" style="none"
                        id={{_id}}>Unfollow</button>
                </form> --}}
            </div>
            {{!-- <div class="card col-3">
                <div class="card col" style="width: 18rem;" id={{_id}}>
                    <img src={{animal_photo}} class="card-img-top cardImage" alt="Picture">
                    <div class="card-body">
                        <h1 class="card-title">{{animal_name}}</h1>
                    </div>
                    <a class="col" href="/animal/detail/{{_id}}">Detail</a>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Find Time: {{find_time}} </li>
                        <li class="list-group-item">Species: {{species}}</li>
                        <li class="list-group-item">Health Condition: {{health_condition}}</li>
                    </ul>

                </div>
            </div> --}}
            {{!--
            <script>
                var id = "{{_id}}";
                var address = '/animal/detail/' + id;
                var card = document.getElementById(id).querySelector('div');
                var newlink = document.createElement('a');
                newlink.href = address;
                newlink.className = "list-link";
                newlink.textContent = 'Get Detail';
                card.appendChild(newlink);
            </script> --}}
            {{/each}}
            {{else}}
            <p>No Value</p>
            {{/if}}

        </div>
    </div>
    {{!-- <h5>My volunteer posts</h5>
    <div class="userCenterInfo container-fluid" style="overflow-y: scroll; height:300px;">

        <div class="row flex-row flex-nowrap mt-3">
            {{#if volunteer_posts}}
            {{#each volunteer_posts}}
            <div class="card col-3">
                <div class="card col" style="width: 18rem;" id={{_id}}>
                    <div class="card-body">
                        <h5 class="card-title">{{volunteer_name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">location: {{volunteer_location}}</li>
                        <li class="list-group-item">Contact: {{volunteer_contact}}</li>
                        <li class="list-group-item">Type: {{volunteer_type}}</li>
                        <li class="list-group-item">{{volunteer_decription}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}

            {{else}}

            <p>No Value</p>

            {{/if}}

        </div> --}}
    </div>
    {{!--
    <script src="../public/js/animalPostDelete.js"></script> --}}
</main>